body {
  margin: 0;
  padding: 0px;
  min-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}

#headerid {
  background-color: white;
  color: pink;
  text-align: center;
}

#bodyid {
  color: rgb(0, 0, 0);
  padding: 0px 10px 10px 10px;
}

#brainlight {
  display: block;
  max-width: 48px;
  max-height: 48px;
  width: auto;
  height: auto;
}

img {
  display: block;
  max-width: 64px;
  max-height: 64px;
}
